p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}
nav a:hover {
    background-color: #111111;
}

.main {
    margin:80px;
}

.github {
    background-color: #333333;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.github:hover {
    background-color: #111111;
}