p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:link, a:visited {
    background-color: #00b300;
    color: white;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover, a:active {
    background-color: #008000;
}